{% extends "base.html" %}
{% block content %}
<h1>Posts tagged &ldquo;{{ tag }}&rdquo;</h1>
<ul>
  {% for page in pages %}
  <li><a href="{{ site.base_url }}/{{ page.url.replace('index.html', '') }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
{% endblock %}
<!-- rewrite commit 157 -->
<!-- rewrite commit 158 -->
<!-- rewrite commit 159 -->
<!-- rewrite commit 160 -->
<!-- rewrite commit 161 -->
<!-- rewrite commit 162 -->
<!-- rewrite commit 163 -->
<!-- rewrite commit 164 -->
<!-- rewrite commit 165 -->
<!-- rewrite commit 166 -->
<!-- rewrite commit 167 -->
