{% extends "base.html" %}
{% block content %}
<h1>{{ taxonomy | title }}: {{ term }}</h1>
<ul>
  {% for page in pages %}
  <li><a href="{{ site.base_url }}/{{ page.url.replace('index.html', '') }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
{% endblock %}
<!-- rewrite commit 193 -->
<!-- rewrite commit 194 -->
<!-- rewrite commit 195 -->
<!-- rewrite commit 196 -->
<!-- rewrite commit 197 -->
<!-- rewrite commit 198 -->
<!-- rewrite commit 199 -->
<!-- rewrite commit 200 -->
<!-- rewrite commit 201 -->
