{% extends "base.html" %}
{% block content %}
<h1>{{ taxonomy | title }}</h1>
<ul>
  {% for term in terms %}
  <li><a href="{{ site.base_url }}/{{ collection.output }}/{{ taxonomy }}/{{ term | lower | replace(' ', '-') }}/">{{ term }}</a></li>
  {% endfor %}
</ul>
{% endblock %}
<!-- rewrite commit 181 -->
<!-- rewrite commit 182 -->
<!-- rewrite commit 183 -->
<!-- rewrite commit 184 -->
<!-- rewrite commit 185 -->
<!-- rewrite commit 186 -->
<!-- rewrite commit 187 -->
<!-- rewrite commit 188 -->
<!-- rewrite commit 189 -->
<!-- rewrite commit 190 -->
<!-- rewrite commit 191 -->
